
body, html {
    padding:0;
    margin:0;
    height : 100%;
    width  : 100%;
    
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(#000227, #313131);
}

#minesweeper {
    position:absolute;
    display:flex;
    align-items: center;
    justify-content:center;
}

#minesweeper .game-menu {
    background:white;
    box-shadow: -1px -2px 10px grey;
    background: white;

    display:flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    transition:1s;
    overflow:hidden;
}

#minesweeper .game-menu:hover {
    cursor:pointer;
}

#minesweeper .game-menu input {
    margin-top:10px;
    margin-bottom:10px;
    font-weight:bold;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    font-size:18px;
    background:rgb(37, 106, 243);
    border:none;
    height:40px;
    width: 100px;
    border-radius: 8%;
    cursor:pointer;
}

#minesweeper .game-menu a {
    margin-top:10px;
    margin-bottom:10px;
    margin-left:15px;
    font-size:25px;
    align-self: start; 
}

#minesweeper .game {
    width:425px;
    height:450px;
    padding:0;
    margin:0;
    transition:1s;
    overflow:hidden;
    border-radius: 10%;
}

#minesweeper .game .top {
    background:rgb(70, 129, 26);
    position:absolute;
    margin:0;
    padding:0;
    transition:1s;
    width:100%;
    height:60px;
    
    display:flex;
    align-items: center;
    justify-content: center;
    z-index:2;
    user-select: none;
}


#minesweeper .game .left .level-select {
    margin:5px;
    font-size:17px;
    font-weight:bold;
    height:30px;
    width:60px;
    border-radius: 8%;
    cursor:pointer;
    user-select: none;
    background:white;

    display:flex;
    align-items: center;
    justify-content: center;
    transform:translateX(15px)
}

#minesweeper .game .level-select span {
    margin-right:5px;
}


#minesweeper .game .level-lst {
    position:absolute;
    display:none;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    box-shadow: -1px -2px 20px grey;

    border-radius: 8%;
    background:white;
    height:80px;
    width:80px;

    z-index:7;
    transform:translate(25px, 45px);

    cursor:pointer;
    user-select: none;
}

#minesweeper .game .level-lst img {
    margin-right:3px;
    transform:translate(-25px,-2px);
}

#minesweeper .game .level-lst div:hover {
    background:'grey'
}

#minesweeper .game .level-lst div:nth-child(2) img {
    opacity:0
}

#minesweeper .game .level-lst div:nth-child(3) img {
    opacity:0
}

#minesweeper .game .level-lst span {
    position:absolute;
    transform:translateX(-15px);
    font-weight:bold;
}

#minesweeper .game .top .set-flag {
    font-size:20px;
    color:white;

    display:flex;
    justify-content: center;
    align-items: center;

    margin-right:20px;
}

#minesweeper .game .top .time {
    font-size:20px;
    color:white;

    display:flex;
    justify-content: center;
    align-items: center;

    margin-right:20px;
}


#minesweeper .game .top .left {
    padding:0;
    margin:0;
    display:flex;
    justify-content:start;
    align-items: center;

    width:20%;
    height:60px;
}

#minesweeper .game .top .center {
    padding:0;
    margin:0;

    width:60%;
    height:60px;

    display:flex;
    justify-content: center;
    align-items: center;
}

#minesweeper .game .top .right {
    padding:0;
    margin:0;

    display:flex;
    justify-content: center;
    align-items: center;

    width:20%;
    height:60px;
}


#minesweeper .game canvas {
   position:absolute;
   width:100%;
   height:80%;
   transform:translateY(60px);
   user-select: none;
}

#minesweeper .game .canvas.layer0 {
    z-index:1;
}


#minesweeper .game canvas.layer1 {
    z-index:2;
}


#minesweeper .game canvas.layer2 {
    z-index:3
}

#minesweeper .game canvas.layer3 {
    z-index:4
}

#minesweeper .game canvas.layer4 {
    z-index:5
}

#minesweeper .game canvas.layer5 {
    z-index:6;
}


#minesweeper .game .layers {
    height:100%;
    width:100%;
    transition:0.05s;
}



